@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}


.subtitle {
  font-family: "Times New Roman", sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: initial;
}


.img1 {
  /* filter: opacity(0.5) drop-shadow(0 0 0 blue);   -webkit-mask-image: url('../src/assets/images/h5-icon-1.png'); */
  /* background:url("../src/assets/images/h5-icon-1.png") no-repeat; */
  filter: invert(1) invert(68%) sepia(10%) saturate(1667%) hue-rotate(357deg) brightness(93%) contrast(99%);
}